
<form ng-submit="saveBookmark()" class="saveForm form-inline">
  <input type="text" placeholder="Enter title" ng-model="title" class="bookmarkInput" required="required">
  <input type="url" placeholder="Enter a valid URL" ng-model="link" class="bookmarkInput" required="required">
  <button type="submit">Save</button>
</form>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Visits</th>
        <th>Bookmark</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tr ng-repeat="bookmark in bookmarks">
      <td>
        {{ bookmark.hits }}
      </td>
      <td>
        <a href="{{ bookmark.link }}" target="_blank" ng-click="updateHits(bookmark.title)">{{ bookmark.title }}</a>
      </td>
      <td>
        <button ng-click="deleteBookmark(bookmark.title)" class="deleteButton"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
      </td>
    </tr>
  </table>
</div>
